<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/main.css}">
	<title>Chess Site - Register</title>
</head>
<body>
	<div class="register-container">
	    <h1>Register</h1>
	    <form id="registerForm" th:action="@{/registrer}" method="post">
	        <input type="email" name="epost" placeholder="Email" required>
	        <input type="password" name="passord" placeholder="Password" required>
	        <input type="password" name="passordRepetert" placeholder="Confirm Password" required>
	        <button type="submit">Create Account</button>
	        <div id="errorMessage" class="error-message" th:text="${redirectMessage}"></div>
	    </form>
	    <div class="register-link">
	    	<a th:href="@{/index}">Sign In</a>
	    </div>
	</div>
</body>
</html>
